<div>
    <p>dasdasd</p>
    <input type="text">
</div>
<br>
<div class="parkings">

    <mat-card>
        <mat-card-header>
            <mat-card-title>Parking 1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="positions">
                <mat-card class="occupied">% 92</mat-card>
                <mat-card class="occupied">% 40</mat-card>
                <mat-card class="occupied">% 30</mat-card>
                <mat-card class="free">Libre</mat-card>
            </div>
            <div class="chargers">
                <p>C1</p>
                <p>C2</p>
                <p>C3</p>
                <p>C4</p>
            </div>
            <div class="positions">
                <mat-card class="occupied">% 90</mat-card>
                <mat-card class="occupied">% 22</mat-card>
                <mat-card class="free">Libre</mat-card>
                <mat-card class="free">Libre</mat-card>
            </div>
        </mat-card-content>
    </mat-card>
    

    <mat-card>
        <mat-card-header>
            <mat-card-title>Parking 1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="positions">
                <mat-card class="occupied">% 92</mat-card>
                <mat-card class="occupied">% 40</mat-card>
                <mat-card class="occupied">% 30</mat-card>
                <mat-card class="free">Libre</mat-card>
            </div>
            <div class="chargers">
                <p>C5</p>
                <p>C6</p>
                <p>C7</p>
                <p>C8</p>
            </div>
            <div class="positions">
                <mat-card class="occupied">% 90</mat-card>
                <mat-card class="occupied">% 22</mat-card>
                <mat-card class="free">Libre</mat-card>
                <mat-card class="free">Libre</mat-card>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card>
        <mat-card-header>
            <mat-card-title>Parking 1</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="positions">
                <mat-card class="occupied">% 92</mat-card>
                <mat-card class="occupied">% 40</mat-card>
                <mat-card class="occupied">% 30</mat-card>
                <mat-card class="free">Libre</mat-card>
            </div>
            <div class="chargers">
                <p>C9</p>
                <p>C10</p>
                <p>C11</p>
                <p>C12</p>
            </div>
            <div class="positions">
                <mat-card class="occupied">% 90</mat-card>
                <mat-card class="occupied">% 22</mat-card>
                <mat-card class="free">Libre</mat-card>
                <mat-card class="free">Libre</mat-card>
            </div>
        </mat-card-content>
    </mat-card>

</div>