<br>

<form [formGroup]="dataForm" (ngSubmit)="sendTest()">
    <mat-card class="simulator">
        <mat-card-header>
            <mat-card-title>Simulate</mat-card-title>
        </mat-card-header>
        <mat-card-content >
            <mat-form-field class="form-group">
                <input type="number" class="form-control" formControlName="soc" matInput placeholder="Ex. 80%">
            </mat-form-field>
            <mat-form-field class="form-group">
                <input type="text" class="form-control" formControlName="priority" matInput placeholder="Priotity Ex. 1">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button type="submit" color="primary">Send</button>
        </mat-card-actions>
    </mat-card>
</form>

<br>

<div class="parkings">

    <!-- <mat-card class="parkinCard">
        <mat-card-header>
            <mat-card-title>Parking Num: Test</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card class="line">
                <mat-card-subtitle>Line 1</mat-card-subtitle>
                <div class="positions">
                    <mat-card class="occupied">% 92</mat-card>
                    <mat-card class="occupied">% 40</mat-card>
                    <mat-card class="occupied">% 30</mat-card>
                </div>
                <div class="chargers">
                    <p>C1</p>
                    <p>C2</p>
                    <p>C3</p>
                </div>
                <div class="positions">
                    <mat-card class="occupied">% 90</mat-card> 
                    <mat-card class="occupied">% 22</mat-card>
                    <mat-card class="free">Fee</mat-card>
                </div>
            </mat-card>
            <br>
            <mat-card class="line">
                <mat-card-subtitle >Line 2</mat-card-subtitle>
                <div class="positions">
                    <mat-card class="occupied">% 92</mat-card>
                    <mat-card class="occupied">% 40</mat-card>
                    <mat-card class="occupied">% 30</mat-card>
                </div>
                <div class="chargers">
                    <p>C4</p>
                    <p>C5</p>
                    <p>C6</p>
                </div>
                <div class="positions">
                    <mat-card class="occupied">% 90</mat-card> 
                    <mat-card class="occupied">% 22</mat-card>
                    <mat-card class="free">Fee</mat-card>
                </div>
            </mat-card>
        </mat-card-content>
    </mat-card> -->
    
    <mat-card *ngFor="let parkin of parkings | keyvalue" class="parkinCard">
        <mat-card-header>
            <mat-card-title>Parking Num: {{parkin.key}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card *ngFor="let line of parkings[parkin.key].positionLine | keyvalue"  class="line">
                <mat-card-subtitle>Line {{line.key}} </mat-card-subtitle>
                <div class="positions">
                    <mat-icon class="arrow">keyboard_backspace</mat-icon>
                    <mat-card *ngFor="let item of parkings[parkin.key].positionLine[line.key].socsGun1" [ngClass]="item.stateClass">{{item.percent}}</mat-card>
                    <mat-icon class="arrow">keyboard_backspace</mat-icon>
                </div>
                <div class="chargers">
                    <p></p>
                    <p *ngFor="let item of parkings[parkin.key].positionLine[line.key].chargers">{{item}}</p>
                    <p></p>
                </div>
                <div class="positions">
                    <mat-icon class="arrow">keyboard_backspace</mat-icon>
                    <mat-card *ngFor="let item of parkings[parkin.key].positionLine[line.key].socsGun2" [ngClass]="item.stateClass">{{item.percent}}</mat-card>
                    <mat-icon class="arrow">keyboard_backspace</mat-icon>
                </div>
            </mat-card>
        </mat-card-content>
    </mat-card>

</div>