.parkings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.positions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chargers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;

    // padding-bottom: -10px;
    // padding-top: -10px;
}

.occupied{
    background-color: red;
    font-size: medium;
    font-weight: bold;
    border-style: solid;

    margin-left: 2px;
    margin-right: 2px;
    // margin-top: 5px;
    // margin-bottom: 5px;

    padding-bottom: 1px;
    padding-top: 1px;
}

.free{
    background-color: green;
    font-size: medium;
    font-weight: bold;
    border-style: solid;

    margin-left: 2px;
    margin-right: 2px;
    // margin-top: 5px;
    // margin-bottom: 5px;

    padding-bottom: 1px;
    padding-top: 1px;
}

.chargerIcon{
    inline-size: auto;
}

.parkinCard{
    // background-color: azure;
    background-color: burlywood;
}

.simulator{
    display: flex;
    flex-direction: row;
    justify-content: center ;

    padding-bottom: 1px;
    padding-top: 1px;
    margin-left: 200px;
    margin-right: 200px;
}

.line{
    background-color:  white;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}

.mat-card-subtitle{
    color: blue($color: #000000);
    font-size: medium;
    font-weight: bold;
}

.arrow{
    padding-bottom: 2px;
    padding-top: 10px;
}

.spinner{
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    // align-content: center;

    padding-bottom: 1px;
    padding-top: 30px;
    margin-left: 600px;
    margin-right: 200px;
}

.changed{
    background-color: blue;
    font-size: medium;
    font-weight: bold;
    border-style: solid;

    margin-left: 2px;
    margin-right: 2px;
    // margin-top: 5px;
    // margin-bottom: 5px;

    padding-bottom: 1px;
    padding-top: 1px;
}

.lineChanged{
    background-color: skyblue;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}